@model List<UserForRemoveVieqModel>


    <div>

        @foreach (var user in Model)
        {
            <div>
                @user.Login <a href="/User/Remove?id=@user.Id&">удалить</a>
            </div>
        }
    </div>