@using  WebApplication_Artur.Services
@inject UserService userService

@model List<UserViewModel>


<div>

    @foreach (var user in Model)
    {
        <div class="infoDelUser">

            <img src="@user.Awatar" class="logoUsersAll" />

            <div class="oneUserDelet">

                <div class="oneUserDeletText">
                    @user.Name (@user.Login)
                </div>

            </div>

            <div class="widthDownload">

                @if (user.MyBikes.Count() > 0)
                {
                    <a class="linqCollor" href="/Bike/PageBike?idBike=@user.Id">

                        <img src="/image/defolt/imputDownload.png" alt="Alternate Text" class="download" />

                    </a>
                }
                else
                {
                    <div>
                        Нет активных предложений
                    </div>     
                }

            </div>

            <div class="muwInputDelet">

                @if (userService.IsDontAnminMyUser(user.Id))
                {
                    <a href="/User/RemoveMy?id=@user.Id" class="imputDelet">
                        <img src="~/image/defolt/Delete2.png" alt="@WebApplication_Artur.Localize.Lang.DeleteUser" class="logoUsersDel" id="1" />
                    </a>
                }

            </div>

        </div>
    }
</div>