@model List<UserForRemoveVieqModel>


<div>

    @foreach (var user in Model)
    {
        <div>

            <img src="@user.Awatar" alt="Awatar" />

            @user.Login <a href="/User/Remove?id=@user.Id&">@WebApplication_Artur.Localize.Lang.DeleteUser</a>
        </div>
    }
</div>