<style type="text/css">
    .ups {
        color: #ff0000ad;
    }


</style>

<div>

    <div>
        Страница находится в разработке.
    </div>

    <div >
        <a class="ups" href="/Home/Index"> Вернуться на главную страницу ... </a>
    </div>

</div>
