@model RegistrationViewModel

<form action="/User/Registration" method="post">

    <div>

        <div>
            Как к вам обращаться:
        </div>

        <div>
            @Html.TextBoxFor(x => x.Name)
        </div>

    </div>

    <div>

        <div>
            Введдите ваш логин:
        </div>

        <div>
            @Html.TextBoxFor(x => x.Login)
        </div>

    </div>

    <div>

        <div>
            Придумайте ваш пароль:
        </div>

        <div>
            @Html.TextBoxFor(x => x.Password)
        </div>

    </div>

    <div class="inutRegistration">
        <input type="submit" value="Зарегестрироваться" />
    </div>

</form>
