.galerey-all-bike {
    display: flex;
    flex-wrap: wrap;
}

.galerey-one-bike {
    background-color: #9ed2e45e;
    padding: 8px;
    margin: 10px;
    box-shadow: 5px 4px 6px 0px #25448233;
    height: 150px;
    border-radius: 8px;
}

.nameForFiltr {
    background-color: #9ed2e45e;
    padding: 8px;
    margin: 10px;
    box-shadow: 5px 4px 6px 0px #25448233;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.invisibleFrame {
    min-width: 150px;
    max-width: 200px;
    flex: 1;
}

.pageBikeContent {
    display: flex;
}

.oneFotoBike {
    width: 500px;
}

.tthBike {
    flex: 1;
}


