.galerey-all-bike {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galerey-one-bike {
    background-color: #9ed2e45e;
    padding: 8px;
    margin: 10px;
    box-shadow: 5px 4px 6px 0px #25448233;
    height: 80%;
    border-radius: 8px;
}

.nameForFiltr {
    background-color: #9ed2e45e;
    padding: 8px;
    margin: 10px;
    box-shadow: 5px 4px 6px 0px #25448233;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.invisibleFrame {
    /*    min-width: 150px;
    max-width: 300px;*/
    width: 200px;
}

.pageBikeContent {
    display: flex;
}

.oneFotoBike {
    width: 500px;
}

.tthBike {
    flex: 1;
}


.imageBikeAll {
    display: flex;
    justify-content: center;
}

.logoBikeGalerey {
    max-height: 140px;
    max-width: 100px;
    box-shadow: 3px 4px 4px 0px #0a0f174d;
    border-radius: 8px;
}

.pageBikeName {
    margin: 15px;
    font-size: 250%;
    display: flex;
    justify-content: center;
    font-family: cursive;
}

.pageBikeContent {
    flex: 1;
    margin: 50px;
}

.pageBikeInfo {
    margin: 15px;
    font-size: 120%;
    display: flex;
    flex: 1;
    font-family: cursive;
    flex-direction: column;
    justify-content: space-between;
}

.bigPageBike {
    border-radius: 15px;
    box-shadow: 3px 4px 4px 0px #0a0f174d;
}

.change {
    font-size: 120%;
    margin: 15px;
    font-family: cursive;
}

.bikeDel {
    max-height: 30px;
    max-width: 30px;
    box-shadow: 1px 1px 0px 0px #0a0f174d;
    border-radius: 50px;
}

.pageBikeName-Delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
