.header {
    background: #4f97d4b0;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 3px 6px 0px #25448233;
}

.center-block {
    display: flex;
    height: 100%;
    margin-bottom: 40px;
}

.menu {
    height: 100%;
    min-width: 100px;
    max-width: 200px;
    background: #d1e6f1;
    border: 3px;
    box-shadow: 2px 0px 6px 0px #25448233;
}

.menuCell {
    padding: 8px;
}

.content {
    padding: 8px;
    flex: 1;
    background: #1e5a9612;
}

.footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 11px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.body {
    margin: 0px;
}

.name-of-the-site {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.user {
    display: flex;
    align-items: flex-end;
}