<html>

    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/user.css" />
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/bike.css" />

    </head>

    <body class="body">

        <div class="header">

            шапка

        </div>

        <div class="center-block">

            <div class="menu">
                <div class="inmenu">

                    <div class="menuCell">
                        <a href="/Home/Index">Главная</a>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="menuCell">
                            <a href="/User/Logout">Выход</a>
                        </div>

                    }
                    else
                    {
                        <div class="menuCell">

                            <a href="/User/Registration">Регистрация</a>

                        </div>

                        <div class="menuCell">

                            <a href="/User/Login">Авторизация</a>

                        </div>
                    }

                    <div class="menuCell">
                        <a href="/Bike/AddBike">Выставить на продажу</a>
                    </div>

                    <div class="menuCell">
                        <a href="/Bike/All">список велосипедов</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/All">Список пользователей</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/All">велосипеды по фильтрам и цене</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/All">Список избранных велосипедов</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/All">сравнение избранных</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/All">страница пользователя</a>
                    </div>

                </div>

            </div>

            <div class="content">
                @RenderBody()
            </div>

        </div>

        <div class="footer">

            подвал

        </div>

    </body>

</html>
