<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/user.css" />
</head>

    <body class="body">

        <div class="header">

            шапка

        </div>

        <div class="center-block">

            <div class="menu">
                <div class="inmenu">

                    <div class="menuCell">
                        <a href="/Home/Index">Главная</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/Registration">Регистрация</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/All">Список пользователей</a>
                    </div>

                    <div class="menuCell">
                        <a href="/User/Registration">новое лействие</a>
                    </div>

                </div>

            </div>

            <div class="content">
                @RenderBody()
            </div>

        </div>

        <div class="footer">

            подвал

        </div>

    </body> 

</html>
