<html>

    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body class="body">

        <div class="header">

            шапка

        </div>

        <div class="center-block">

            <div class="menu">

                <div>
                    страница 1
                </div>

                <a href="/Gallery/AllGallery">страница 2</a>
            </div>

            <div class="content">
                @RenderBody()
            </div>

        </div>

        <div class="footer">

            подвал

        </div>

    </body> 

</html>
