@page
@model WebApplication_Artur.Views.Gallery.AllGalleryModel
@{

    <div>


        <div>
            все товары
        </div>

        <a href="#">

            content

        </a>

        <a href="/Home/Index">Home</a>

    </div>

}
