@using WebApplication_Artur.Localize;

@model AddBikeViewModel


<form action="/Bike/AddBike" method="post" enctype="multipart/form-data">
    <div>

        <div>
            Введдите модель велосипеда:
        </div>

        <div>
            @Html.TextBoxFor(x => x.Name)
        </div>

    </div>

    <div>

        <div>
            Укажите цену:
        </div>

        <div>
            @Html.TextBoxFor(x => x.Price)
            @Html.ValidationMessageFor(x => x.Price)
        </div>

    </div>

    <div>

        Фото велосипеда:
        <div>
            <input type="file" name="BikePage" />
        </div>

    </div>

    <div>

        <div>
            Класс велосипеда:
        </div>

        <div>
            <select class="BikeClass" id="BikeClass" name="BikeClass">

                <option value="0">Mountain Bike</option>
                <option value="1">Road Bike</option>
                <option value="2">Touring  Bike</option>
                <option value="3">Gravel Bike</option>

            </select>
        </div>

    </div>

    <div class="inutRegistration">
        <p><input type="submit" value="Выставить" onclick="getValue()" /></p>
    </div>

    @*<script>

            let mySelectOption = getValue; // - полученное из функции значение прсвоим в переменную и используем где нужно))

            function getValue() {
                let selectedValue = select.value;
                console.log(selectedValue);
                return selectedValue;
            }


        </script>*@



</form>