@model List<GalereyBikeViewModel>

<div class="nameForFiltr">

    ссылка на фильтры

</div>

<div class="galerey-all-bike">

    @foreach (var bike in Model)
    {
        <div class="invisibleFrame">

            <a class="linqCollor"  href="/Bike/PageBike?idBike=@bike.Id">

                <div class="galerey-one-bike">

                    <div class="textBikeName">
                        @bike.Name
                    </div>

                    <div class="imageBikeAll">
                        <img src="@bike.Page" class="logoBikeGalerey"/>
                    </div>

                    <div>
                        @bike.BikeClass велосипед. 
                    </div>

                    <div class="preicBikeAll">
                        @bike.Price BYN
                    </div>

                </div>

            </a>
        </div>
    }

</div>