@model BikeViewModel

    <div>

        <div>

            страница отдельного велосипеда

        </div>

        <div>

            тут должна быть ссылка на редоктирование/изменение данных

        </div>

        <div>

            удалить байк

        </div>

    </div>
