@model UpdatePriceViewModel

<form action="/Bike/UpdatePrice?" method="post">

    <div class="addBlock">

        <input class="pooof" name="idBike" value=@Model.IdBike />

        <div class="addOneSharedBike">
            @Html.EditorFor(x => x.Price)  - новая цена.
        </div>

        <div class="addOneSharedBike">
            <input type="submit" value="обновить" class="inputaddBlock" />
        </div>

    </div>

</form>
