@model int

<div>

    <div>

        <img src="https://www.google.by/url?sa=i&url=https%3A%2F%2Fru.depositphotos.com%2Fvector-images%2F%25D0%25BB%25D0%25BE%25D0%25B3%25D0%25BE%25D1%2582%25D0%25B8%25D0%25BF-%25D0%25B4%25D0%25BB%25D1%258F-%25D0%25B2%25D0%25B5%25D0%25BB%25D0%25BE%25D1%2581%25D0%25B8%25D0%25BF%25D0%25B5%25D0%25B4%25D0%25BE%25D0%25B2.html&psig=AOvVaw3pGr1h_i1tufClwNoCX7m1&ust=1631708285901000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLCmmZi5_vICFQAAAAAdAAAAABAIS" alt="Alternate Text" />

    </div>

    <div>

        Сейчас продаются @Model велосипедов.

    </div>

    <div>
        Добро пожаловать ..........
    </div>

    <div class="mainСenter">

        <a href="/User/All">К списку велосипедов</a>

        <a href="/Bike/AddBike">Выставить на продажу</a>

        <a href="/User/All">Избранное</a>

    </div>

</div>
