@model int


<div>

    <div>

        Сейчас продаются @Model велосипедов.

    </div>

    <div>
        Добро пожаловать ..........
    </div>

    <div class="mainСenter">

        <a class="linqCollor" href="/User/All"> К списку велосипедов</a>

        <a class="linqCollor" href="/Bike/AddBike">Выставить на продажу</a>

        <a class="linqCollor" href="/User/All">Избранное</a>

    </div>

</div>
