@model int

<div>

    <div>
        <img src="~/image/defaultBike1.png" alt="Упс" class="logoBikeGalerey" />

    </div>

    <div>

        Сейчас продаются @Model велосипедов.

    </div>

    <div>
        Добро пожаловать ..........
    </div>

    <div class="mainСenter">

        <a href="/User/All">К списку велосипедов</a>

        <a href="/Bike/AddBike">Выставить на продажу</a>

        <a href="/User/All">Избранное</a>

    </div>

</div>
