@model int

<div>

    <div>

        Сейчас продаются @Model велосипедов.

    </div>

    <div>
        Добро пожаловать ..........
    </div>

    <div class="mainСenter">

        <a href="/User/All">К списку велосипедов</a>

        <a href="/User/All">Выставить на продажу</a>

        <a href="/User/All">Избранное</a>

    </div>

</div>
